.table_data {
    width: 100%;
    border-collapse: collapse;
}

.table_data th,
.table_data td {
    border: 1px dotted #ccc;
    padding: 8px;
}

#header th {
    background-color: #106f7b;
    color: white;
}

/* styles.css */

.memo-no-row {
    cursor: pointer;
}

.memo-link {
    color: rgb(0, 0, 0);
    /* Change the color to your desired color */
    text-decoration: none;
    /* Remove underlines, if needed */
}


/* CSS to style the "Submit Memo" button */
#goBack,
#downloadExcel,
#removeFilters {
    background-color: #106f7b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#goBack:hover,
#downloadExcel:hover,
#removeFilters:hover {
    background-color: #0a525e;
    /* Change the background color on hover */
}

.dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.button-container {
    text-align: center;
}

.button-container button,
.button-container input[type="button"] {
    display: inline-block;
    margin: 20px 10px;
    vertical-align: middle;
}

.button-container:after {
    content: '';
    display: inline-block;
    width: 100%;
}