.header_top {
    width: 100%;
    border-collapse: collapse;
    border: 4px solid black;
}

.header_top td {
    padding: 8px;
    border: 4px solid black;
}

.header_top #header_table {
    text-align: center;
}

.header_top h2,
.header_top h3,
.header_top h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.header_top #title_table {
    padding-top: 30px;
    padding-bottom: 30px;
}

p {
    margin-top: 10px;
    margin-bottom: 0px;
}

#logo {
    width: 200px;
    height: 200px;
}

/* Set a specific width for the first column */
.header_top th:nth-child(1),
.header_top td:nth-child(1) {
    width: 17%;
}

/* Set a specific width for the third column */
.header_top th:nth-child(3),
.header_top td:nth-child(3) {
    width: 40%;
}

.table_data {
    width: 100%;
    border-collapse: collapse;
}

.table_data th,
.table_data td {
    border: 1px dotted #ccc;
    padding: 8px;
}

#header th {
    background-color: #106f7b;
    color: white;
}

/* Style the dropdown select element */
#dayDropdown {
    padding: 5px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style the dropdown options */
#dayDropdown option {
    font-size: 12px;
}

/* Style the date container */
.date-container {
    display: flex;
    align-items: center;
}

/* Style the label for the date input */
.date-container label {
    font-weight: bold;
    margin-right: 10px;
    font-size: 16px;
}

/* Style the date input */
.date-container input[type="date"] {
    padding: 5px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 20px;
}

/* Style the container for the underlined input */
.underline-input {
    display: flex;
    align-items: center;
}

/* Style the label for the input */
.underline-input label {
    font-weight: bold;
    margin-right: 10px;
    font-size: 16px;
}

/* Style the input to display only an underline */
.underline-input input[type="text"] {
    border: none;
    border-bottom: 1px solid #000; /* Underline style */
    padding: 5px;
    font-size: 12px;
    outline: none; /* Remove focus outline */
    background: transparent; /* Transparent background */
    width: 30%; /* Fill the available space */
    margin-left: 20px;
}

/* CSS to style the "Submit Memo" button */
#submitMemo {
    display: block;
    margin: 20px auto;
    background-color: #106f7b; /* Set the background color */
    color: #fff; /* Set the text color to white */
    padding: 10px 20px; /* Add padding to the button */
    border: none; /* Remove the border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    font-size: 16px; /* Set the font size */
}

#submitMemo:hover {
    background-color: #0a525e; /* Change the background color on hover */
}
