body {
    display: grid;
    height: 5vh;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Style the file input */
.uploadbutton {
    border: 2px solid teal; /* Add a teal blue border */
    border-radius: 5px; /* Add border radius */
    padding: 8px; /* Add some padding for spacing */
    width: 200px; /* Set a fixed width */
  }
  
  /* Style the selected file display */
  .uploadbutton::file-selector-value {
    display: inline-block;
    border: 1px solid grey; /* Add a grey border */
    padding: 4px; /* Add padding for spacing */
    border-radius: 5px; /* Add border radius */
    margin-top: 5px; /* Add some spacing from the input */
  }
  
  
  input::file-selector-button {
    background-image: linear-gradient(
      to right,
      #136a8a,
      #267871,
      #136a8a 100%,
      #319197 200%
    );
    background-position-x: 0%;
    background-size: 100%;
    border: 0;
    border-radius: 8px;
    color: #fff;
    text-shadow: 0 1px 1px #333;
    transition: all 0.25s;
    height: 30px;
    width: 100px;
    
  }
  input::file-selector-button:hover {
    background-position-x: 100%;
    transform: scale(1.1);
  }
  #removeFiltersButton {
    background: none;
    text-decoration:solid;
    color: rgb(41, 41, 41);
    box-shadow: 0px 0px 0px 2px white;
    padding: 5px;
    margin-right: 10px;
    transition: 0.5s;
    border-color: rgba(0, 0, 0, 0.356);
    border-radius: 5px;
    border: 2px solid teal;
    pointer-events: auto;
  }
  
  #removeFiltersButton:hover {
    background: white;
    color: dimgray;
    transition: 0.5s;
    cursor: pointer;
  }
  #message{
    text-align: center;
  }

.table_data {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table_data th,
.table_data td {
    border: 1px dotted #ccc;
    padding: 8px;
}

#header th {
    background-color: #106f7b;
    color: white;

}

#backButton, #downloadButton {
  padding: 8px 15px;
  border: none;
  background-color: #106f7b;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

#backButton:hover, #downloadButton:hover {
  background-color: #0a525e;
}
.no-data-row{
  text-align: center;
}
.home-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    color: black;
    font-size: larger;
    transition: transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-button:hover {
    transform: translateY(-5px);
color:#E7CE74;
}

.home-button i {
    font-size: 20px;
    vertical-align: middle;
}