.table_data {
    width: 100%;
    border-collapse: collapse;
}

.table_data th,
.table_data td {
    border: 1px dotted #ccc;
    padding: 8px;
}

#header th {
    background-color: #106f7b;
    color: white;
}
/* styles.css */

.edit-btn {
    background-color: #106f7b;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.save-btn {
    background-color: #106f7b;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.delete-btn {
    background-color: #106f7b;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.add-btn{
    background-color: #106f7b;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
}

.btn-back{
    margin-top: 20px;
    margin-left: 50%;
    background-color: teal;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-back:hover{
    background-color: gray;
}
.home-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(0, 128, 128);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    color: aliceblue;
    font-size: larger;
    transition: transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-button:hover {
    transform: translateY(-5px);
}

.home-button i {
    font-size: 20px;
    vertical-align: middle;
}
