body {
    font-family: Assistant, sans-serif;
    display: flex;
    min-height: 90vh;
  }
  h3{
    margin: 0px;
    margin-bottom: 25%;
    text-align: center;
  }
  
  .login {
    color: white;
    background: #136a8a;
    background: linear-gradient(to right, #267871, #136a8a);
    margin: auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.3),
      0px 30px 60px 1px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 30px;
  }
  
  .input {
    background: none;
    width: 40px;
    border: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    margin: 0 5px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
    cursor: not-allowed;
    pointer-events: none;
    color: aliceblue;
}
  
.input:focus {
    border-bottom: 3px solid orange;
    outline: none;
}
  
.input:nth-child(1) {
    cursor: pointer;
    pointer-events: all;
}
  
.btn-login {
  background: none;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 0px 2px white;
  padding: 5px 6em;
  transition: 0.5s;
  border-color: transparent;
  border-radius: 0.25rem;
  pointer-events: auto;
}

.btn-login:hover {
  background: white;
  color: dimgray;
  transition: 0.5s;
  cursor: pointer;
}
