body {
    display: grid;
    height: 5vh;
    place-items: center;
  }

.table_data {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table_data th,
.table_data td {
    border: 1px dotted #ccc;
    padding: 4.8px;
}

#header th {
    background-color: #106f7b;
    color: white;

}
#download-button{
  color: white;
  background-color: #106f7b;
  border-radius: 5px; /* Add border radius */
  padding: 8px; /* Add some padding for spacing */
  width: 200px; /* Set a fixed width */
}
#add-button{
  color: white;
  background-color: #106f7b;
  border-radius: 5px; /* Add border radius */
  padding: 8px; /* Add some padding for spacing */
  width: 200px; /* Set a fixed width */
}
#edit-button{
  color: white;
  background-color: #606060b1;
  border-radius: 5px; /* Add border radius */
  padding: 8px; /* Add some padding for spacing */
  width: 200px; /* Set a fixed width */
}
#duplicate-button{
  color: white;
  background-color: #606060b1;
  border-radius: 5px; /* Add border radius */
  padding: 8px; /* Add some padding for spacing */
  width: 200px; /* Set a fixed width */
}
#update-button{
  color: white;
  background-color: #106f7b;
  border-radius: 5px; /* Add border radius */
  padding: 8px; /* Add some padding for spacing */
  width: 200px; /* Set a fixed width */
}
#delete-button{
  color: white;
  background-color: #106f7b;
  border-radius: 5px; /* Add border radius */
  padding: 8px; /* Add some padding for spacing */
  width: 200px; /* Set a fixed width */
}


#download-button:hover{
  cursor: pointer;
}
#add-button:hover{
   cursor: pointer;
}
#edit-button:hover{
   cursor: pointer;
}
#duplicate-button:hover{
   cursor: pointer;
}
#update-button:hover{
   cursor: pointer;
}
#delete-button:hover{
   cursor: pointer;
}

/* Highlight selected rows */
.table_data tbody tr.selected {
  background-color: #0d82db;
}

/* Style the selected buttons */
#edit-button.enabled,
#duplicate-button.enabled {
  background-color: #106f7b;
  color: white;
}



